# We need to create a .env file for the project
# where  VHOST is either forum or test 
# for the respective stacks. Some of the following parameters must have VHOST-
# specific values, e.g. each has a coressponding subnet: 10.1.0 and 10.2.0
# so that both stackss can be started at the same time on the one host. 
#
# Note that the WEB_ROOT/conf_global.php and constants.php settings must be
# consistent with these values for the forum to start up corectly
#
# The DNS address of the forum is ${VHOST}.${DOMAIN}
VHOST=
DOMAIN=
# Port for forum: 80 + 443, test: 8080 + 4443
HTTP_PORT=
HTTPS_PORT=
# This mapped in Docker compose to the /var/www/ibp WEBROOT
WWW_IPB_ROOT=/mnt/buildhub/www/ipb
# Randomly generate ROOT and user passwords. The user fields must match the 
# IPSuite confugration file
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
REDIS_PWD=
# Name of the db server (mysql)
DBHOST=
# Current timezone of server
TZ=
# IPSuite Licence key
LICENCE_KEY=
# Alpine, Mysql and PHP versions (currently 3.15, 8.0, 8.0 respectively)
ALPINE_VERSION=
MYSQL_VERSION=
PHP_VERSION=
#
## The .secrets folder contain the following files:
#   -   mysql-root & redis-pwd; these must match the value of the env variables
#   -   authorized_keys. Public keys for users with read access to backups.
#
