# We need to create a .env file for the project where VHOST is either forum or 
# test. The DNS address of the forum is ${VHOST}.${DOMAIN}
VHOST=
DOMAIN=
# Forum owner Symolic Name, Numeric UID and GID
FORUM_USER=
FUID=
FGID=
# Port for forum: 80 + 443, test: 8080 + 4443
HTTP_PORT=
HTTPS_PORT=
# This is the SSH port used to connect to the backup service
SSH_PORT=
# This mapped in Docker compose to the /var/www/ibp WEBROOT
IPB_ROOT=
# IPB Licence Key
IPB_KEY=
# Randomly generate ROOT and user passwords. The user fields must match the 
# IPSuite confugration file
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
REDIS_PWD=
# Current timezone of server
TZ=
# Debian & PHP versions
DEBIAN_VERSION=
PHP_VERSION=

# Backups
RESTIC_REPOSITORY=
RESTIC_PASSWORD=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
#
## The .secrets folder contain the following files:
#   -   mysql-root & redis-pwd; these must match the value of the env variables
#   -   authorized_keys. Public keys for users with read access to backups.
#
