#
#  Tweaks to default MySQL paramaters to allocate 2Gb to InnoDB etc.
#
[mysqld]
host_cache_size               = 0
skip-name-resolve

back_log                      = 50

max_allowed_packet            = 16M
max_binlog_size               = 100M
binlog_expire_logs_seconds    = 60
max_connect_errors            = 10
max_connections               = 20

myisam-recover-options        = BACKUP
myisam_sort_buffer_size       = 64M
key_buffer_size               = 16M

table_open_cache              = 1024

innodb_buffer_pool_size       = 2G
innodb_open_files             = 2048

user                          = mysql
