# We need to create two .{VHOST}-end files where  VHOST is either forum or test 
# for the respective stacks. Some of the following parameters must have VHOST-
# specific values, e.g. each has a coressponding subnet: 10.1.0 and 10.2.0
# so that both stackss can be started at the same time on the one host. 
#
# Note that the WEB_ROOT/conf_global.php and constants.php settings must be
# consistent with these values for the forum to start up corectly
#
# The .secrets folder contain the following files:
#   -  /fullchain.pem and privkey.pem certbot keys for the test and forum DNS
#       subdomaains
#   -   mysql-root and redis-pwd must match the contents of the env variables.
VHOST=
SUBNET=
# Port for forum: 80 + 443, test: 8080 + 4443
HTTP_PORT=
HTTPS_PORT=
# This mapped in Docker compose to the /var/www/ibp WEBROOT
WWW_IPB_ROOT=/mnt/buildhub/www/ipb
# Randomly generate ROOT and user passwords. The user fields must match the v
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
TZ=
LICENCE_KEY=
REDIS_PWD=
MYSQL_VERSION=
PHP_VERSION=
